* {
    text-rendering: optimizeLegibility;
    text-wrap: balance;
}

.main-title {
    font-size: 2.5rem;
    margin-block: 3rem 1.75rem;
    line-height: 1.5rem;
    font-weight: 700;

    &:first-child {
        margin-top: 1rem;
    }
}

.secondary-title {
    font-size: 1.85rem;
    margin-block: 2rem 1.25rem;
    line-height: 1.45rem;
    font-weight: 600;
}

.btn {
    border-radius: 2px;
    transition: filter linear 0.125s, transform linear 5ms;

    &.btn--primary {
        padding: 1rem;
        font-weight: 300;
        background-color: var(--primary);
        color: white;
    }

    &:hover {
        filter: brightness(1.15);
    }
    &:active {
        transform: scale(0.98);
    }
}

p {
    margin-bottom: 1.5rem;
}

blockquote {
    opacity: 0.75;
    border-left: #ffffff75 solid 1px;
    padding-left: 1rem;
    margin-left: 0.1rem;

    & :last-child {
        margin-top: 1rem;
    }
}

pre,
code {
    background-color: var(--background);
    border-radius: 5px;
}

code {
    padding: 0.25rem;
}

pre {
    margin-block: 1rem;
    padding: 1.5rem;
    max-height: 100px;
    overflow: auto;
    transition: max-height ease-in-out 1s;

    &.adding-content {
        max-height: 500px;
    }

    .comment {
        color: var(--comment);
    }
}

select {
    border-radius: 3px;
    background-color: var(--background);
    color: white;
    padding-inline: 0.5rem;
}
